<h1 class="text-center">Car</h1>

<table class="table" ng-controller="carController">
  <tbody>
    <tr>
      <th>ID</th>
      <td>{{ car.id }}</td>
    </tr>
    <tr>
      <th>Brand</th>
      <td>{{ car.brand }}</td>
    </tr>
    <tr>
      <th>Model</th>
      <td>{{ car.model }}</td>
    </tr>
    <tr>
      <th>Vin</th>
      <td>{{ car.vin }}</td>
    </tr>
    <tr>
      <th>Registration number</th>
      <td>{{ car.registrationNumber }}</td>
    </tr>
    <tr>
      <th>Rented</th>
      <td>{{ car.rented ? 'Yes' : 'No' }}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td><caraddress address="{{ car.address }}"></caraddress></td>
    </tr>
  </tbody>
</table>

<a href="{{ '#!' + car.hrefIndex }}" class="btn btn-secondary">Back to list</a>
<a href="{{ '#!' + car.hrefEdit }}" class="btn btn-primary">Edit</a>