<!DOCTYPE html>
<html ng-app="app-cars">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    <link href="/assets/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/styles/app.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/angularjs/angular.min.js"></script>
    <script src="/assets/angularjs/angular-route.min.js"></script>
    <script src="/assets/angularjs/angular-animate.min.js"></script>
    <script src="/assets/angularjs/angular-aria.min.js"></script>
    <script src="/assets/angularjs/angular-messages.min.js"></script>
    <script src="/assets/angularjs/angular-material.min.js"></script>
    <script src="/assets/app.js"></script>

    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    <header id="main-header">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="#!{{ path('app_car_index') }}">Cars</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#!{{ path('app_car_index') }}">Cars</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <ng-view>
        {% block body %}{% endblock %}
      </ng-view>
    </main>
  </body>
</html>
